body{
	margin: 0;
}

@font-face{
    font-family: 'IndexFont';
    src: url('font/JennaSue.ttf');

}

aside{
    list-style-type: none;
    padding: 175px 0px 0px 30px;
    margin: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    font-family: 'IndexFont';
    font-size: 35pt;
    color: white;
    background-color: #062743;
}

div{
	margin-left: 20%;
    position: fixed;
    height: 100%;
}

#bg{
	height: 630px;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover{
	color: aqua;
}

#profile{
	border-radius: 50%;
	width: 200px;
	height: 255px;
	float: right;
	margin-left: 50px;
}

#about {
	margin-left: 20%;
    position: fixed;
    height: 100%;
    padding: 50px 70px 0px 70px;
    background-color: aliceblue;
}

#info{
	font-size: 20pt;
	text-align: justify;
}

#maskot {
	margin-top: 30px;
	width: 230px;
	height: 200px;
}