body{
	margin: 0;
}

@font-face{
    font-family: 'IndexFont';
    src: url('font/JennaSue.ttf');
}

@font-face{
    font-family: 'NamesFont';
    src: url('font/Sun Valley - Demo.ttf');
}

aside{
    list-style-type: none;
    padding: 15% 0% 0% 3%;
    position: fixed;
    margin: 0;
    width: 15%;
    height: 100%;
    font-family: 'IndexFont';
    font-size: 35pt;
    color: white;
    background-color: #062743;
}

#home{
    margin-left: 18%;
}

#bg{
	height: 630px;
	position: fixed;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover{
	color: aqua;
}

#profile{
	border-radius: 50%;
	width: 200px;
	height: 255px;
	float: right;
	margin-left: 50px;
}

#about {
	margin-left: 18%;
    padding: 5% 5% 0.6% 5%;
    background-color: aliceblue;
}

.info{
	font-size: 20pt;
	text-align: justify;
	clear: left;
}

#maskot{
	margin-top: 20px;
	width: 230px;
	height: 200px;
}

#contact{
	margin-left: 18%;
    height: 100%;
    padding: 5% 5% 21% 5%;
    background-color: aliceblue;
}

.logo{
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

#maskot1{
	float: right;
	margin-top: 20px;
	width: 230px;
	height: 200px;
}

#tbcontact{
	vertical-align: middle;
	font-size: 20pt;
}

td{
	padding: 0px 20px 0px 20px;
}

#portfolio{
    background-color: aliceblue;
    margin-left: 18%;
    padding: 0% 5% 0% 5%;
}

#isi{
	background-color: white;
	font-size: 17pt;
	margin: 0;
	padding: 3%;
}

h1{
	font-family: 'NamesFont';
	font-size: 85pt;
	text-align: center;
	margin: 0;
	color: rgb(240 60 79);
}

nav{
	text-align: center;
	font-family: 'IndexFont';
	font-size: 30pt;
	font-weight: bold;
}

table, td, th, tr{
	text-align: justify;
}

#pd{
	text-align: center;
	font-family: 'IndexFont';
	font-size: 35pt;
	font-weight: bold;
	margin: 5% 0% 1% 0%;
	color: gold;
}

#edu{
	text-align: center;
	font-family: 'IndexFont';
	font-size: 35pt;
	font-weight: bold;
	margin: 5% 0% 1% 0%;
	color: gold;
}

.subjudul{
	text-align: center;
}

#exp{
	text-align: center;
	font-family: 'IndexFont';
	font-size: 35pt;
	font-weight: bold;
	margin: 5% 0% 1% 0%;
	color: gold;
}